.page-content {
    background: url("../images/events-bg.png") center /cover;
}

.event {
    display: flex;
}

.event p {
    margin: 0 0 17px;
}

.event-poster {
    width: 400px;
}

.event-content {
    width: calc(100% - 400px);
    padding-left: 50px;
}

.event-info {
    display: flex;
    margin-top: 50px;
}

.event-info div {
    width: 50%;
    padding-right: 17px;
    margin-bottom: 60px;
}